.navContainer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: white;
    box-shadow: 0px -8px 6px -6px black;
    z-index: 10;
}

.navLink {
    position: relative;
    width: 100%;
}

.navLink:active {
    transform: scale(0.9);
}

.icon {
    position: relative;
    width: 44%;
    margin: 10% 23% 10% 23%;
    color: black;
}

@media (min-width: 490px) {
    .navContainer {
        position: fixed;
        width: 100%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        background-color: white;
        box-shadow: 0px -8px 6px -6px black;
        z-index: 10;
    }

    .navLink {
        position: relative;
        width: 100%;
    }

    .navLink:active {
        transform: scale(0.9);
    }

    .icon {
        position: relative;
        width: 30%;
        margin: 7% 35% 5% 35%;
    }
}

@media (min-width: 1000px) {
    .navContainer {
        position: fixed;
        width: 100%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        background-color: white;
        box-shadow: 0px -8px 6px -6px black;
        z-index: 10;
    }

    .navLink {
        position: relative;
        width: 100%;
    }

    .navLink:active {
        transform: scale(0.9);
    }

    .icon {
        position: relative;
        font-size: 2em;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 1% 1% 0% 1%;
        color: black;
    }
}