.container {
    position: relative;
    padding-top: 20%;
}

.editForm {
    position: relative;
    padding: 2% 0% 3% 0%;
    width: 80%;
    margin: 5% 10% 5% 10%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.heading {
    position: relative;
    text-align: center;
    font-size: 1.6em;
}

.label {
    position: relative;
    text-align: center;
    font-size: 1.1em;
}

.input {
    position: relative;
    margin: 5% 10% 5% 10%;
    width: 80%;
    background-color: rgb(232, 231, 231);
    border: solid 1px black;
    border-radius: 10px;
    font-size: 1em;
    padding: 1%;
    color: gray;
}

.input:active {
    border: 1px blue solid;
    transform: scale(1.1);
}

.input:hover {
    border: 1px blue solid;
    transform: scale(1.1);
}

.errMsg {
    position: relative;
    color: red;
}

.btn {
    position: relative;
    border: none;
    background-image: linear-gradient(to right bottom, #000bf8, #5e00f5, #8300f1, #a002ee, #b812eb);
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
    width: 40%;
    margin: 5% 30% 1% 30%;
    font-size: 1em;
}

.btn:active {
    transform: scale((0.9));
}

.backgroundFeature {
    position: fixed;
    color: transparent;
    background-image: linear-gradient(to right bottom, #000bf8, #5e00f5, #8300f1, #a002ee, #b812eb);
    width: 100%;
    height: 100%;
    bottom: 0%;
    right: 0%;
    top: 0%;
    left: 0%;
    z-index: -1;
    opacity: 0.9;
}

.ImageLabel {
    position: relative;
    margin: 5% 0% 5% 0%;
    width: 100%;
    background-color: white;
    border: solid 2px #8300f1;
    border-radius: 10px;
    font-size: 3em;
    padding: 5% 30% 5% 30%;
    color: black;
    text-align: center;
    border-style: dashed;
}

.fileInput {
    display: none;
}

.btnContainer {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
}

.cancelBtn {
    position: relative;
    width: 80%;
    margin: 10%;
    border: #8300f1 solid 2px;
    color: #8300f1;
    font-size: 1em;
    font-weight: 400;
    border-radius: 10px;
    background-color: white;
}

.updateBtn {
    position: relative;
    width: 80%;
    margin: 10%;
    background-color: #8300f1;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 400;
}

.link {
    color: #000bf8;
    text-decoration: underline;
    margin: 2% 5% 1% 5%;
}

@media (min-width: 490px) {
    .container {
        padding-top: 17%;
    }

    .editForm {
        padding: 2% 0% 3% 0%;
        margin: 3% 10% 5% 10%;
    }

    .heading {
        font-size: 2.2em;
    }

    .label {
        font-size: 1.5em;
    }

    .input {
        margin: 3% 10% 4% 10%;
        font-size: 1.3em;
        padding: 1%;
        border-radius: 15px;
    }

    .errMsg {
        font-size: 1.3em;
    }

    .btn {
        margin: 1% 30% 1% 30%;
        font-size: 1.5em;
        border-radius: 15px;
    }

    .signInSection {
        padding: 4% 5% 4% 5%;
        font-size: 1.4em;
    }

    .signInText {
        position: relative;
        color: blue;
        margin-left: 2%;
    }
}

@media (min-width: 1000px) {
    .container {
        padding-top: 8%;
    }

    .editForm {
        padding: 2% 0% 1% 0%;
        margin: 2% 15% 1% 15%;
        width: 70%;
    }

    .heading {
        font-size: 1.4em;
    }

    .inputAreas {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }

    .label {
        font-size: 1em;
    }

    .input {
        margin: 2% 8% 1% 8%;
        width: 84%;
        font-size: 1em;
        padding: 1%;
    }

    .errMsg {
        font-size: 1em;
        margin-bottom: 5%;
    }

    .btn {
        margin: 2% 40% 0.32% 40%;
        width: 20%;
        font-size: 1em;
        padding: 1% 1% 1% 1%;
    }

    .signInSection {
        padding: 1.5% 5% 1.5% 1%;
        font-size: 1em;
    }

    .signInText {
        position: relative;
        color: blue;
        margin-left: 1%;
    }
}