.container {
    position: relative;
    padding-top: 20%;
}

.btnContainer {
    position: relative;
    width: 70%;
    margin: 50% 15% 2% 15%;
    background-color: white;
    padding: 7%;
    border-radius: 10px;
    box-shadow: 2px 3px 1px 1px rgb(58, 58, 58);
}

.btnContainer p {
    position: relative;
    margin: 1%;
    padding: 0%;
    text-align: center;
}

.btnContainer h3 {
    position: relative;
    margin: 2%;
    padding: 0%;
    text-align: center;
    font-size: 2em;
}

.btn {
    position: relative;
    width: 50%;
    margin: 3% 25% 2% 25%;
    background: rgb(223, 40, 255);
    background: linear-gradient(90deg, rgba(223, 40, 255, 1) 24%, rgba(109, 20, 255, 1) 55%, rgba(0, 1, 255, 1) 71%);
    border: none;
    border-radius: 10px;
    padding: 2%;
    font-size: 1.2em;
    box-shadow: 2px 3px 1px 1px rgb(58, 58, 58);
}

.btn:active {
    transform: scale(0.9);
}

.backgroundFeature {
    position: fixed;
    color: transparent;
    background-image: linear-gradient(to right bottom, #000bf8, #5e00f5, #8300f1, #a002ee, #b812eb);
    width: 100%;
    height: 100%;
    bottom: 0%;
    right: 0%;
    top: 0%;
    left: 0%;
    z-index: -1;
    opacity: 0.9;
}

.bottomContainer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    text-align: center;
    color: grey;
}