.container {
    position: relative;
    padding-top: 20%;
}

.btnsContainer {
    position: relative;
    width: 90%;
    margin: 2% 5% 2% 5%;
}

.btn {
    position: relative;
    width: 40%;
    margin: 3% 30% 2% 30%;
}