.btnContainer {
    position: relative;
    width: 100%;
}

.addBtn {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5% 10% 5% 10%;
    border: none;
    border-radius: 50%;
    padding: 10% 1% 10% 1%;
    font-size: 1.2em;
    color: white;
    background-color: white;
    font-weight: 800;
}

.addBtn:active {
    transform: scale((0.9));
}

@media (min-width: 490px) {
    .btnContainer {
        position: relative;
        width: 100%;
    }

    .addBtn {
        position: relative;
        text-align: center;
        border: none;
        border-radius: 50%;
        padding: 1% 1% 1% 1%;
        font-size: 2em;
        color: white;
        font-weight: 800;
    }

    .addBtn:active {
        transform: scale((0.9));
    }
}

@media (min-width: 1000px) {}