.btnContainer {
    position: relative;
    width: 100%;
}

.addBtn {
    position: relative;
    width: 90%;
    height: 90%;
    margin: 5% 5% 5% 5%;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(to right bottom, #000bf8, #5e00f5, #8300f1, #a002ee, #b812eb);
}

.icon {
    position: relative;
    width: 60%;
    margin: 10% 10% 10% 10%;
}

.addBtn:active {
    transform: scale((0.9));
}

@media (min-width: 490px) {
    .btnContainer {
        position: relative;
        width: 100%;
    }

    .addBtn {
        position: relative;
        text-align: center;
        border: none;
        border-radius: 50%;
        padding: 1% 1% 1% 1%;
        font-size: 2em;
        color: white;
        font-weight: 800;
    }

    .addBtn:active {
        transform: scale((0.9));
    }
}

@media (min-width: 1000px) {
    .btnContainer {
        position: relative;
        width: 100%;
    }

    .addBtn {
        position: relative;
        text-align: center;
        border: none;
        border-radius: 50%;
        padding: 1% 1% 0% 1%;
        margin: 0%;
        font-size: 1.3em;
        color: white;
        font-weight: 800;
    }

    .addBtn:active {
        transform: scale((0.9));
    }
}