.btnContainer {
    position: fixed;
    bottom: 10%;
    left: 0%;
    right: 0%;
    width: 100%;
    background-color: transparent;
}

.addBtn {
    position: relative;
    width: 10%;
    margin: 2% 45% 2% 45%;
    background-image: linear-gradient(to right bottom, #000bf8, #5e00f5, #8300f1, #a002ee, #b812eb);
    border: none;
    border-radius: 50%;
    padding: 2% 1% 2% 1%;
    font-size: 1.2em;
}