.btnContainer {
    position: relative;
    width: 100%;
}

.addBtn {
    position: relative;
    border: none;
    color: white;
    background-color: white;
    font-weight: 800;
}

.icon {
    position: relative;
    width: 50%;
}

.addBtn:active {
    transform: scale((0.9));
}

@media (min-width: 490px) {
    .btnContainer {
        position: relative;
        width: 100%;
    }

    .addBtn {
        position: relative;
        text-align: center;
        border: none;
        border-radius: 50%;
        padding: 1% 1% 1% 1%;
        font-size: 2em;
        color: white;
        font-weight: 800;
    }

    .addBtn:active {
        transform: scale((0.9));
    }
}

@media (min-width: 1000px) {
    .btnContainer {
        position: relative;
        width: 100%;
    }

    .addBtn {
        position: relative;
        text-align: center;
        border: none;
        border-radius: 50%;
        padding: 1% 1% 0% 1%;
        margin: 0%;
        font-size: 1.3em;
        color: white;
        font-weight: 800;
    }

    .addBtn:active {
        transform: scale((0.9));
    }
}