.container {
    position: relative;
    margin: 2% 0% 1% 0%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 8px 6px -6px black;
    background-color: white;
}

.profileSection {
    position: relative;
    padding: 1% 2% 1% 2%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.profilePic {
    position: relative;
    width: 80%;
    height: 45px;
    border-radius: 50%;
    margin: 1% 10% 2% 10%;
}

.username {
    position: relative;
    margin-left: 5%;
    margin: 3% 1% 3% 5%;
}

.postImg {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0% 0% 0% 0%;
}

.captionContainer {
    position: relative;
    width: 100%;
    padding: 0% 2% 0% 2%;
    margin: 1% 0% 1% 0%;
    display: flex;
}

.captionUsername {
    position: relative;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0% 1% 0% 1%;
}

.caption {
    position: relative;
    margin: 0% 5% 0% 5%;
    font-size: 1.1em;
}

.postText {
    position: relative;
    margin: 2% 2% 2% 2%;
    padding: 4%;
    font-size: 1.2em;
    font-weight: 500;
    background-color: rgb(245, 245, 245);
}

.blank {
    color: transparent;
    display: none;
}

.postInteraction {
    position: relative;
    margin: 2% 5% 2% 5%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.comments {
    position: relative;
    text-align: end;
}

@media (min-width: 490px) {
    .container {
        margin: 2% 0% 1% 0%;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: black 2px solid;
        box-shadow: 0 8px 6px -6px black;
        background-color: white;
    }

    .profileSection {
        position: relative;
        border-bottom: black 1px solid;
        padding: 1% 2% 1% 2%;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .profilePic {
        position: relative;
        width: 80%;
        height: 70px;
        border-radius: 50%;
        margin: 1% 10% 2% 10%;
    }

    .username {
        position: relative;
        margin-left: 5%;
        margin: 3% 1% 3% 5%;
        font-size: 1.7em;
    }

    .postImg {
        position: relative;
        width: 100%;
        height: 400px;
        margin: 0% 0% 0% 0%;
    }

    .captionContainer {
        position: relative;
        width: 100%;
        padding: 0% 2% 0% 2%;
        margin: 1% 0% 1% 0%;
        display: flex;
    }

    .captionUsername {
        position: relative;
        font-size: 1.5em;
        font-weight: 600;
        margin: 0% 1% 0% 1%;
    }

    .caption {
        position: relative;
        margin: 0% 1% 0% 1%;
        font-size: 1.5em;
    }

    .postText {
        font-size: 1.8em;
    }

    .postInteraction {
        position: relative;
        margin: 2% 5% 2% 5%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .comments {
        position: relative;
        text-align: end;
    }
}

@media (min-width: 1000px) {
    .container {
        margin: 2% 0% 1% 0%;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: black 2px solid;
        box-shadow: 0 8px 6px -6px black;
        background-color: white;
    }

    .profileSection {
        position: relative;
        border-bottom: black 1px solid;
        padding: 1% 2% 1% 2%;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .profilePic {
        position: relative;
        width: 70%;
        height: 55px;
        border-radius: 50%;
        margin: 1% 15% 2% 15%;
    }

    .username {
        position: relative;
        margin-left: 5%;
        margin: 4% 1% 3% 1%;
        font-size: 1.2em;
    }

    .postImg {
        position: relative;
        width: 100%;
        height: 300px;
        margin: 0% 0% 0% 0%;
    }

    .postText {
        font-size: 1.3em;
    }

    .captionContainer {
        position: relative;
        width: 100%;
        padding: 0% 2% 0% 2%;
        margin: 1% 0% 1% 0%;
        display: flex;
    }

    .captionUsername {
        position: relative;
        font-size: 1.1em;
        font-weight: 600;
        margin: 0% 1% 0% 1%;
    }

    .caption {
        position: relative;
        margin: 0% 1% 0% 1%;
        font-size: 1.1em;
    }

    .postInteraction {
        position: relative;
        margin: 2% 5% 2% 5%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .comments {
        position: relative;
        text-align: end;
    }
}