.container {
    position: relative;
    width: 100%;
    padding-top: 20%;
}

.postContent {
    position: relative;
    background-color: white;
    width: 80%;
    margin: 5% 10% 5% 10%;
    padding: 5%;
}

.postImg {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0%;
}

.postText {
    position: relative;
    width: 100%;
    font-weight: 500;
    background-color: rgb(245, 245, 245);
    padding: 7%;
    margin: 0% 0% 0% 0%;
    height: 150px;
}

.postActions {
    position: relative;
    margin: -3% 0% 0% 0%;
    padding: 0%;
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
}

.delBtn {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0%;
    padding: 1%;
    border: none;
    background-color: black;
}

.delBtn:active {
    transform: scale(0.9);
}

.editBtn {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0% 0% 0% 0%;
    padding: 1%;
    border: none;
    background-color: black;
}

.editBtn:active {
    transform: scale(0.9);
}

.blank {
    position: fixed;
    display: none;
}

.msgContainer {
    position: fixed;
    top: 40%;
    left: 10%;
    right: 10%;
    width: 80%;
    background-image: linear-gradient(to right bottom, #fe4c4c, #fe5151, #fe5656, #fe5a5a, #fe5f5f);
    border: red solid 5px;
    border-radius: 10px;
    text-align: center;
    z-index: 10;
}

.cancelMsg {
    position: relative;
    width: 20%;
    margin: 2% 40% 5% 40%;
    background-color: transparent;
    border: rgb(58, 58, 58) solid 2px;
    border-radius: 10px;
    color: rgb(58, 58, 58);
    padding: 1%;
}

.cancelMsg:active {
    transform: scale(0.9);
}