.container {
    position: relative;
    background-color: #ffffff;
    margin: 0% 0% 0% 0%;
    width: 100%;
    padding-top: 5%;
}

.postImg {
    position: relative;
    width: 90%;
    margin: 0% 5% 0% 5%;
}

.caption {
    position: relative;
    margin: 2% 2% 3% 2%;
}