.postList {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.posts {
    position: relative;
    width: 90%;
    margin: 0% 5% 0% 5%;
}

@media (min-width: 490px) {
    .postList {
        padding-top: 13%;
        padding-bottom: 20%;
    }

    .posts {
        width: 60%;
        margin: 0% 20% 0% 20%;
    }
}

@media (min-width: 1000px) {
    .postList {
        padding-top: 7%;
        padding-bottom: 20%;
    }

    .posts {
        width: 50%;
        margin: 0% 25% 0% 25%;
    }
}