.container {
    position: relative;
    padding-top: 22%;
}

.signUpForm {
    position: relative;
    padding: 2% 5% 5% 5%;
    text-align: center;
}

.heading {
    position: relative;
    text-align: center;
}

.label {
    position: relative;
}

.input {
    position: relative;
}