.list {
    position: relative;
    margin-top: 0%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10%;
    padding-bottom: 10%;
}

@media (min-width: 490px) {
    .list {
        position: relative;
        margin-top: 0%;
        width: 100%;
        display: grid;
        grid-template-columns: 33.3333% 33.3333% 33.333;
        margin-bottom: 10%;
        padding-bottom: 10%;
    }
}

@media (min-width: 1000px) {}