.container {
    position: relative;
    width: 100%;
}

.postedContent {
    position: relative;
}

.postImg {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0%;
}

.postText {
    position: relative;
    width: 100%;
    font-weight: 500;
    background-color: rgb(245, 245, 245);
    padding: 7%;
    margin: 0% 0% 0% 0%;
    height: 150px;
}

.postActions {
    position: relative;
    margin: 0% 0% 0% 0%;
    background-color: transparent;
}

.delBtn {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0%;
    border: none;
    background-color: transparent;
}

.editBtn {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0% 0% 0% 0%;
    border: none;
    background-color: transparent;
}