.container {
    position: relative;
    width: 100%;
    border: solid black 1px;
}

.postedContent {
    position: relative;
}

.postImg {
    position: relative;
    width: 100%;
    height: 150px;
}

.postText {
    position: relative;
    width: 100%;
    font-weight: 500;
    background-color: rgb(245, 245, 245);
    padding: 5%;
    margin: 0%;
}